{% extends "base.html" %}
{% block content %}
<section class="col-lg-9">
    <div class="d-flex align-items-center gap-3 mb-4">
        <h1 class="h3 fw-bold">New Question</h1>
    </div>
    <div class="alert alert-danger mb-3" role="alert">
        Fill in all fields
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="questionTitle" class="form-label fw-bold">Title</label>
                    <input type="text" class="form-control" id="questionTitle" name="title"
                           placeholder="How to build a moon park?"
                           maxlength="100" required>
                    <div class="form-text">Maximum 100 characters</div>
                </div>
                <div class="mb-3">
                    <label for="questionText" class="form-label fw-bold">Text</label>
                    <textarea class="form-control" id="questionText" name="text" rows="5"
                              placeholder="Really, how? Have no idea about it"
                              maxlength="2000" required></textarea>
                    <div class="form-text">Maximum 2000 characters</div>
                </div>
                <div class="mb-3">
                    <label for="questionTags" class="form-label fw-bold">Tags</label>
                    <input type="text" class="form-control" id="questionTags" name="tags"
                           placeholder="moon, park, puzzle"
                           maxlength="50">
                    <div class="form-text">Separate tags with commas, maximum 50 characters</div>
                </div>
                <button type="submit" class="btn btn-primary">ASK!</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}