{% extends "base_2.html" %}
{% block content %}
<section class="col-lg-9">
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h2 class="h4 fw-bold mb-4">Log In</h2>
            <div class="alert alert-danger mb-3" role="alert">
                Fill in all fields
            </div>

            <form method="post">
                <div class="mb-3">
                    <label for="login" class="form-label">Login</label>
                    <input type="text" class="form-control" id="login" name="username" placeholder="Enter your login here"
                           maxlength="50" required>
                </div>

                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="**********"
                           maxlength="50" required>
                </div>

                <a href="{% url 'app:index' %}" class="btn btn-primary w-100">Log in</a>
            </form>

            <div class="text-center mt-3">
                <a href="{% url 'app:signup' %}" class="text-decoration-none">create new account</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}