{% extends "base.html" %}
{% block content %}
<section class="col-lg-9">
    <div class="d-flex align-items-center gap-3 mb-4">
        <h1 class="h3 fw-bold">{{ page_title }}</h1>

        {% if page_title == 'New Questions' %}
            <a href="{% url 'app:hot' %}" class="btn btn-sm btn-outline-primary">Hot Questions</a>
        {% else %}
            <a href="{% url 'app:index' %}" class="btn btn-sm btn-outline-primary">New Questions</a>
        {% endif %}
        <a href="{% url 'app:ask' %}" class="btn btn-sm btn-outline-primary ms-auto">Ask Question</a>
    </div>

    <div class="d-flex gap-3 flex-column">
        {% for question in questions %}
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <div style="height: 100px;" class="border mb-2 w-100">
                            <img src="{{ question.author.profile.avatar.url }}" alt="User avatar" class="img-fluid h-100 w-100 object-fit-cover">
                        </div>
                        <div>
                            <input type="number" class="form-control" value="{{ question.rating }}">
                        </div>
                    </div>
                    <div class="col d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title fw-bold">
                                <a href="{% url 'app:question' question_id=question.id %}" class="text-decoration-none">
                                    {{ question.title }}
                                </a>
                            </h5>
                            <p class="card-text text-muted">{{ question.text }}</p>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <a href="{% url 'app:question' question_id=question.id %}" class="text-decoration-none">
                                    {{ question.answers.count }} answers
                                </a>
                            </div>
                            <div class="col text-end">
                                <span class="text-muted small me-1">Tags:</span>
                                {% for tag in question.tags.all %}
                                    <a href="{% url 'app:tag' tag_name=tag.name %}" class="badge bg-primary text-decoration-none">
                                        {{ tag.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% include "pagination.html" with page_obj=questions %}
    </div>
</section>
{% endblock %}