{% extends "base_2.html" %}
{% block content %}
<section class="col-lg-9">
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h2 class="h4 fw-bold mb-4">Registration</h2>

            {% if error %}
            <div class="alert alert-danger mb-3" role="alert">
                {{ error }}
            </div>
            {% endif %}

            <form method="post">
                <div class="mb-3">
                    <label for="regLogin" class="form-label">Login</label>
                    <input type="text" class="form-control" id="regLogin" name="username" placeholder="dr_peeper"
                           maxlength="50">
                    <div class="form-text">Maximum 50 characters</div>
                </div>

                <div class="mb-3">
                    <label for="regEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="regEmail" name="email" placeholder="drpepper@mail.ru"
                           maxlength="50">
                </div>

                <div class="mb-3">
                    <label for="regNickname" class="form-label">NickName</label>
                    <input type="text" class="form-control" id="regNickname" name="nickname" placeholder="Dr. Pepper"
                           maxlength="50">
                    <div class="form-text">Maximum 50 characters</div>
                </div>

                <div class="mb-3">
                    <label for="regPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="regPassword" name="password1" placeholder="********"
                           maxlength="50" required>
                    <div class="form-text">Maximum 50 characters</div>
                </div>

                <div class="mb-3">
                    <label for="regRepeatPassword" class="form-label">Repeat password</label>
                    <input type="password" class="form-control" id="regRepeatPassword" name="password2" placeholder="********"
                           maxlength="50" required>
                </div>

                <div class="mb-4">
                    <label class="form-label">Upload avatar</label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="regAvatar" name="avatar" accept="image/*">
                    </div>
                </div>

                <a href="{% url 'app:index' %}" class="btn btn-primary w-100">Register</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}